.erfassenButton .Button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px; /* Setzt den Außenabstand auf der rechten Seite */
}

.Button {
  background-color: rgba(28, 46, 80, 1);
  color: white;
}

.Button:hover {
  background-color: rgba(28, 46, 80, 0.7);
}

/* Structure */
table {
  width: 100%;
}

.td:hover {
  background-color: #ececec; /* Light grey color; adjust as needed */
  cursor: pointer; /* Changes the cursor to a pointer to indicate the row is clickable */
}



.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}