
table {
  width: 100%;
}

.td:hover {
  background-color: #ececec;
  cursor: pointer;
}



.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.erfassenButton .Button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}



.Button {
  background-color: rgba(28, 46, 80, 1);
  color: white;
}

.Button:hover {
  background-color: rgba(28, 46, 80, 0.7);
}

