<div class="erfassenButton">
  <a mat-button class="Button" (click)="openEXTERFModal()">Beanstandung erfassen</a>
  <a mat-button class="Button" (click)="exportAsExcel()">Excel Export</a>
</div>



<div>
  <mat-form-field class="inputfield">
    <mat-label>Filter</mat-label>
    <input class="input" matInput (keyup)="applyFilter($event)" placeholder="Suchbegriff eingeben" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (dblclick)="openEXTBEARBModal($event)">

    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>

    <!-- Datum Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.Date}} </td>
    </ng-container>

    <!-- Kunde Column -->
    <ng-container matColumnDef="Kunde">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kunde </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.Kunde}} </td>
    </ng-container>

    <!-- Teilenummer Column -->
    <ng-container matColumnDef="Teilenummer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teilenummer </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.Teilenummer}} </td>
    </ng-container>

    <!-- Teilebezeichnung Column -->
    <ng-container matColumnDef="Teilebezeichnung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teilebezeichnung </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.Teilebezeichnung}} </td>
    </ng-container>

    <!-- Beanstandungsgrund Column -->
    <ng-container matColumnDef="Beanstandungsgrund">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Beanstandungsgrund </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.Beanstandungsgrund}} </td>
    </ng-container>

    <!-- CQA Column -->
    <ng-container matColumnDef="CQA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CQA </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.CQA}} </td>
    </ng-container>

    <!-- Abgeschlossen Column -->
    <ng-container matColumnDef="Abgeschlossen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Abgeschlossen </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.Abgeschlossen ? 'Ja' : 'Nein'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="8">Kein passender Datensatz gefunden mit: "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Wähle Seite der Elemente"></mat-paginator>
</div>
